body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    margin: 0;
    padding-top: 50px;
}

.game-container {
    position: relative;
    border: 3px solid #ccc; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.game-canvas {
    display: block;
    background-color: #fff;
}

.score-display {
    position: absolute;
    top: 10px;
    right: 15px; 
    font-size: 1.4em; 
    color: #535353;
    font-weight: bold;
}

.game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none; 
    
    /* Центрування тексту: */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    font-size: 1.6em; 
    color: #535353;
    
    padding-bottom: 20px; 
}

.game-over-screen p {
    margin: 8px 0;
}

.final-score {
    font-size: 1.8em; 
    font-weight: bold;
    color: #000;
}