html, body {
  background-color: black;
}
header{
    background-color: rgb(95,95,95);
    position: sticky;
    top: 0;
}

.Background{
    background-image: url("../Images/2212-x01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 675px;
    background-position: center;
}
h1,p{
    color:white;
}
.Screenshoots{
    outline-style: dashed;
    outline-color: purple;
    outline-width: 20px;
    border-style: groove;
    border-radius: 10px;
    border-color: aqua;
}

.Text{
    border-style:dashed;
    border-width: 10px;
    border-color: red;
}


.oln{
    margin: 0;
}

section,article{
    background-color: rgb(24,21,18);
}

a{
    color:black;
    text-decoration: none;
}

.Pidtrimka{
    position: fixed;
}

.padding{
    padding: 10px;
    margin: 10px;
}