header {
  background: linear-gradient(180deg, #181512, #181512 24.27%, rgba(24, 21, 18, 0.8) 71.5%, rgba(24, 21, 18, 0.7019607843) 78.4%, rgba(24, 21, 18, 0.6) 81.85%, rgba(24, 21, 18, 0.5019607843) 85.08%, rgba(24, 21, 18, 0.4) 88.53%, rgba(24, 21, 18, 0.3019607843) 91.55%, rgba(24, 21, 18, 0.2) 94.14%, rgba(24, 21, 18, 0.1019607843) 97.37%, rgba(24, 21, 18, 0));
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

h1,
p {
  color: white;
}

section,
article {
  background-color: rgb(24, 21, 18);
}

a {
  color: black;
  text-decoration: none;
}

nav {
  flex-grow: 1;
}

.nav1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: auto;
  max-width: 100%;
}

.logo1 {
  padding-left: 10px;
  width: auto;
  height: 70px;
}

.logo2 {
  margin-left: 20px;
  width: auto;
  height: 70px;
}

.oln {
  margin: 0;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 0;
  list-style-type: none;
}
.oln li a {
  font-weight: bold;
  font-style: normal;
  font-size: large;
  color: white;
  font-family: Verdana, sans-serif;
}

.headerimg {
  width: auto;
  height: 45px;
  border-radius: 10px;
}

.Background,
.Background1 {
  background-image: url("../Images/2212-x01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Background {
  height: 100vh;
  margin-top: -70px;
    display: flex;
  align-items: center;
  justify-content: center;
}

.Background1 {
  height: calc(100vh + 70px);
  margin-top: -70px;
}

.LogoC {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.logo {
  width: auto;
  height: 200px;
}

.button {
  display: flex;
  gap: 20px;
}
.button img {
  width: auto;
  height: 50px;
  border-radius: 10px;
}

.Text {
  padding: 50px;
}

.Stalker1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.hr {
  width: 500px;
  height: 25px;
}

.Photo {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.Photo img {
  width: auto;
  height: 40vh;
  border-radius: 10px;
}

.padding {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.login {
  padding-top: 100px;
  color: white;
}

.padding1 {
  padding-top: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
  width: auto;
  height: auto;
  padding-left: 80px;
  padding-bottom: 100px;
}
.padding1 img {
  border-radius: 10px;
}
.Photo1{
  padding-top: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3,3fr);
  gap: 40px 30px;
  width: 500px;
  padding-left: 80px;
  padding-bottom: 100px;
}

.Photo1 img{
  width: 99%;
  height: 70%;
}


@media (max-width: 1280px) {
  .padding1 img {
    width: 50%;
  }
  .logo {
    max-width: 82%;
    height: auto;
  }
  .logo1,
  .logo2 {
    display: none;
  }
  .headerimg {
    height: 20px;
  }
  .Photo {
    flex-direction: column;
  }
  .Photo img {
    max-width: 100%;
    height: auto;
  }
  .button {
    padding-top: 10px;
  }
  .button img {
    max-width: 70%;
    height: auto;
  }
  .button a {
    display: flex;
    justify-content: center;
  }
  .oln {
    gap: 0;
    justify-content: space-evenly;
  }
  .padding1 {
    padding-left: 0;
    justify-items: center;
  }
  .padding1 img {
    width: 75%;
    height: auto;
  }
}
@media (max-width: 431px) {
  .padding1 img {
    width: 50%;
  }
  .logo {
    max-width: 82%;
    height: auto;
  }
  .logo1 {
    display: none;
  }
  .logo2 {
    width: auto;
    height: 45px;
  }
  .headerimg {
    height: 20px;
  }
  .Photo {
    flex-direction: column;
  }
  .Photo img {
    max-width: 100%;
    height: auto;
  }
  .button {
    padding-top: 10px;
  }
  .button img {
    max-width: 70%;
    height: auto;
  }
  .button a {
    display: flex;
    justify-content: center;
  }
  .oln {
    gap: 0;
    justify-content: space-evenly;
  }
  .oln li a {
    font-size: small;
    font-weight: bolder;
  }
  .padding1 {
    padding-left: 0;
    justify-items: center;
  }
  .padding1 img {
    width: 90%;
    height: auto;
  }
  .hr {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 370px) {
  .headerimg {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
