

header{
    background: linear-gradient(180deg,#181512,#181512 24.27%,#181512cc 71.5%,#181512b3 78.4%,#18151299 81.85%,#18151280 85.08%,#18151266 88.53%,#1815124d 91.55%,#18151233 94.14%,#1815121a 97.37%,#18151200);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.headerimg{
    width: auto;
    height: 45px;
    border-radius: 10px;
}

.Background{
    background-image: url("../Images/2212-x01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -70px;
}

.Background1{
    background-image: url("../Images/2212-x01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh + 70px);
    margin-top: -70px;
}



.LogoC{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
h1,p{
    color:white;
}

.logo {
  width: auto;
  height: 200px;
}

.logo1{
    padding-left: 10px;
    width: auto;
    height: 70px;
}

.logo2{
    margin-left: 20px;
    width: auto;
    height: 70px;
}

.button{
    display: flex;
    gap:20px;
}

.button img{
    width: auto;
    height: 50px;
    border-radius: 10px;
}

.Text{
    padding: 50px;
}

.login{
  padding-top: 100px;
  color: white;
}



.oln{
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding:0;
    margin:0;
    list-style-type: none;
}

section,article{
    background-color: rgb(24,21,18);
}

a{
    color:black;
    text-decoration: none;
}

.oln li a {
  font-weight: bold;
  font-style:normal; 
  font-size:large;
  color:white;
  font-family: Verdana, sans-serif;;
}

.Pidtrimka{
    position: fixed;
}

.padding{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.padding1{
    padding-top: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px 30px;
    width: auto;
    height: auto;
    padding-left: 80px;
    padding-bottom: 100px;
}

.padding1 img{
    border-radius: 10px;
}


.nav1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: auto;
  max-width: 100%; 
}

nav {
  flex-grow: 1;
}

.Stalker1{
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.Photo{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.Photo img{
    width: auto;
    height: 40vh;
    border-radius: 10px;
}

.hr{
    width:500px; 
    height:25px;
}



@media (max-width: 1280px){


  .padding1 img {
    width: 50%;
  }

  .logo{
    max-width: 82%;
    height: auto;
  }

  .logo1{
    display: none;
  }

  .logo2{
    display: none;
  }

  .headerimg{
    height: 20px;
  }

  .Photo{
    flex-direction: column;
  }

  .Photo img{
    max-width: 100%;
    height: auto;
  }

  .button img{
    max-width: 70%;
    height: auto;
  }

  .button a{
    display: flex;
    justify-content: center;
  }

  .button{
    padding-top: 10px;
  }

  .oln{
    gap: 0;
    justify-content: space-evenly;
  }

  .padding1 img{
    width: 75%;
    height: auto;
  }

  .padding1{
    padding-left: 0;
    justify-items: center;
  }

}

  @media(max-width:431px){

  .padding1 img {
    width: 50%;
  }



  .logo{
    max-width: 82%;
    height: auto;
  }

  .logo1{
    display: none;
  }

  .logo2{
    width: auto;
    height: 45px;
  }

  .headerimg{
    height: 20px;
  }

  .Photo{
    flex-direction: column;
  }

  .Photo img{
    max-width: 100%;
    height: auto;
  }

  .button img{
    max-width: 70%;
    height: auto;
  }

  .button a{
    display: flex;
    justify-content: center;
  }

  .button{
    padding-top: 10px;
  }

  .oln{
    gap: 0;
    justify-content: space-evenly;
  }

  .padding1 img{
    width: 90%;
    height: auto;
  }

  .padding1{
    padding-left: 0;
    justify-items: center;
  }

  .hr{
    max-width: 100%; 
    height:auto;
  }

  .oln li a{
    font-size: small;
    font-weight: bolder;
  }

}
